                        @media all and (max-width: 768px) {
                            section#contact {
                                .contact-data {
                                    text-align: center;
                                    .contact-social-icons {
                                        a {
                                            margin: 0;
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                        
                        @media all and (max-width: 680px) {
                            section {
                                padding: 0 40px 50px;
                                #main-header {
                                    .header-caption {
                                        h1 {
                                            font-size: 3em;
                                        }
                                        h2 {
                                            font-size: 1.5em;
                                        }
                                    }
                                }
                            }
                        }
                        
                        @media all and (max-width: 480px) {
                            section#contact {
                                .contact-data {
                                    text-align: center;
                                    .contact-social-icons {
                                        a {
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                            #skills {
                                #skills-icons {
                                    .skills-icons-item {
                                        width: 100%;
                                    }
                                }
                            }
                        }
